{% extends "../layout/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block title %}
	<title>Tableau de bord</title>
{% endblock %}

{% block main %}
	<main>
		<div id="table-views">
			<section id="tab-choice">
				<div class="tab-choice-container">
					<div class="nav">

						<div id="title">
							<h3>GestInfoPro</h3>
						</div>
						<div id="tab-choice-list">
							<ul>
								<li id="board" class="focusing">
									<p>Tableau de board</p>
								</li>
								<li id="worker-list">
									<p>Salariés</p>
								</li>
								<li id="computer-list">
									<p>Ordinateurs</p>
								</li>
								<li id="file-list">
									<p>Fichiers</p>
								</li>
							</ul>
						</div>
					</div>
					<div class="log">
						{% if company %}
							<a id="logout" href="/logout">Déconnexion</a>
						{% else %}
							<a id="login" href="/login">Se connecter</a>
						{% endif %}
					</div>
				</div>
			</section>
		</div>

		<div id="table-display">

			<section id="display-board">
				<div id="display-board-container">
					<div id="company-info">
						<div class="company-info-container">
							<h4>Vos informations</h4>
							<div class="info-container">
								<p>Bonjour,
									{{company.status}}</p>
								<p>Propriétaire :
									{{company.name}}</p>
								<p>Date de création :
									{{company.formattedCreateAt}}</p>
							</div>
						</div>
						<div class="update-company">
							<form action="/update/company/{{company.id}}" method="get">
								<button class="btn-validate-update">Modifier</button>
							</form>
						</div>
					</div>

					{% if workers or computer or file %}
						<h4>Ajoutés récemment</h4>
					{% endif %}


					<div id="recent-add">
						{% if workers %}
							<div class="recent-add-workers">
								<div class="recent-container">
									<h4>Salariés</h4>
									<ul>
										{% for worker in recentWorkers %}
											<div class="worker-info">
												<li>{{worker.firstName}}
													{{worker.lastName}}</li>
												<li>
													<p class="updload-date">{{worker.formattedWorkerCreateAt}}</p>
												</li>
												<span class="line"></span>
											</div>
										{% endfor %}
									</ul>
								</div>
							</div>
						{% endif %}

						{% if computers %}
							<div class="recent-add-computers">
								<div class="recent-container">
									<h4>Ordinateurs</h4>
									<ul>
										{% for computer in computers %}
											<div class="file-info">
												<li>{{computer.adress}}</li>
												<li>
													<p class="updload-date">Ajouté le
														{{computer.formattedUploadAt}}</p>
												</li>
												<span class="line"></span>
											</div>
										{% endfor %}
									</ul>
								</div>
							</div>
						{% endif %}

						{% if files %}
							<div class="recent-add-files">
								<div class="recent-container">
									<h4>Fichiers</h4>
									<ul>
										{% for file in files %}
											<div class="file-info">
												<li>{{file.fileRename}}</li>
												<li>
													<p class="updload-date">Ajouté le
														{{file.formattedUploadAt}}</p>
												</li>
												<span class="line"></span>
											</div>
										{% endfor %}
									</ul>
								</div>
							</div>
						{% endif %}
					</div>
				</section>

				<section id="display-workers" class="hidden">
					<div class="display-workers-container">
						<div id="confirm-delete-modal">
							<div class="confirm-delete-modal-container">
								<p>Etes-vous sûr de vouloir supprimer ?</p>
								<div>
									<button id="confirm-delete" class="btn-delete">Supprimer</button>
									<button id="cancel" class="btn-back">Annuler</button>
								</div>
							</div>
						</div>


						<h3>Liste des salariés</h3>
						<div class="workers-utils">
							<div class="worker-add-container">
								<a href="/addworker">
									<div class="btn-add">Ajouter un travailleur</div>
								</a>
								<a href="/addcsv">
									<div class="btn-add">Ajouter un fichier CSV</div>
								</a>
							</div>
							<div class="search-container">
								<input type="text" id="searchInput" placeholder="Rechercher un salarié...">
							</div>
						</div>

						<div class="tab-container">
							<table>
								<thead>
									<tr class='header'>
										<th>Nom</th>
										<th>Prénom</th>
										<th>Genre</th>
										<th>Âge</th>
										<th>Email</th>
										<th>Ordinateur</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody id="workers-table-body">
									{% for worker in workers %}

										<tr>
											<td>
												<p>{{worker.lastName}}</p>
											</td>
											<td>
												<p>{{worker.firstName}}</p>
											</td>
											<td>
												<p>{{worker.gender}}</p>
											</td>
											<td>
												<p>{{worker.age}}</p>
											</td>
											<td>
												<p>{{worker.mail}}</p>
											</td>
											<td>
												<p>{{worker.computer.adress}}</p>
											</td>
											<td>
												<div class="btn-container">
													<div>
														<button class="btn-delete" onclick="showDeleteModal(event, '{{worker.id}}')">Supprimer</button>
														<form id="deleteForm{{worker.id}}" action="/delete/{{worker.id}}" method="post"></form>
													</div>
													<div class="btn-update">
														<form action="/update/{{worker.id}}" method="get">
															<button class="btn-validate-update">Modifier</button>
														</form>
													</div>
												</div>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</section>

				<section id="display-computers" class="hidden">
					<div class="display-computers-container">
						<h3>Liste des ordinateurs</h3>
						<div class="computers-add-container">
							<a href="/addcomputer">
								<div class="btn-add">Ajouter un ordinateur</div>
							</a>
						</div>

						<div class="tab-container">
							<table>
								<thead>
									<tr class="header">
										<th>Ordinateurs</th>
										<th>Utilisateurs</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									{% for computer in computers %}
										<tr>
											<td>
												<p>{{computer.adress}}</p>
											</td>
											{% if computer.worker %}
												<td>
													<p>{{computer.worker.firstName}}</p>
												</td>
											{% else %}
												<td>-</td>
											{% endif %}
											<td>
												<div class="btn-container">
													<div>
														<form action="/delete/computer/{{computer.id}}" method="post">
															<button class="btn-delete">Supprimer</button>
														</form>
													</div>
													<div>
														<form action="/update/computer/{{computer.id}}" method="get">
															<button class="btn-validate-update">Modifier</button>
														</form>
													</div>
												</div>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</section>
				<section id="display-files" class="hidden">
					<div class="display-files-container">
						<h3>Liste des fichiers</h3>
						<div class="tab-container">
							<table>
								<thead>
									<tr class="header">
										<th>Nom du fichier</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									{% for file in files %}
										<tr>
											<td>
												<p>{{file.fileRename}}</p>
											</td>
											<td>
												<div class="btn-container">
													<div>
														<form action="/delete/file/{{file.id}}" method="post">
															<button class="btn-delete">Supprimer</button>
														</form>
													</div>
												</div>
											</td>

										</tr>
									</td>
								</tbody>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</section>
</div></main>{% endblock %}{% block script %}<script src="/assets/js/modal.js"></script><script src="/assets/js/searchWorker.js"></script><script src="/assets/js/confirmDeleteWorker.js"></script>{% endblock %}
